html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato-Light', sans-serif;
    color: #3C3C3B;
}

a {
    text-decoration: none;
    color: inherit;
}

.maxWidthWrapper {
    max-width: 1600px;
    display: flex;
    margin: auto;
}

body {
  margin: 0;
  background-color: white;
  line-height: 20px;
}

#splash {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 40px;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

#header {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.topNavbar {
  background-color: white;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
	z-index: 100;
}

.logo {
  padding: 10px;
  margin: 5px;
}

.pageNavigation {
  display: flex;
}

.pageNavigation:last-child {
    margin-right: 10px;
}

.navOptions {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
    user-select: none;
  transition: all 0.2s ease-in;
  
}

.navOptions:hover {
  background-color: #EEEEF0;
  cursor: pointer;
}

.hero {
	background-image: url(https://source.unsplash.com/lWBZ01XRRoI);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
    height: 100vh;
	position: fixed;
	z-index: -1;
	display:flex;
	align-items: center;
}

.downArrow {
    opacity: 1;
    width: 40px;
    height: 40px;
    background-image: url(./images/arrow_downward-24px.svg);
    background-repeat: no-repeat;
    background-color: #E5E5E8;
    background-position: center center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: calc(100vh - 60px);
    right: calc(50vw - 20px);
    transition: opacity 0.8s ease-in;
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.downArrow:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    animation-play-state: paused;
}

.intro {
	height: 100vh;
	margin: 0 10vw;
}

.bio {
    display: flex;
    position: relative;
    top: 12vh;
}

.picture {
    width: 300px;
    height: 300px;
    background-image: url(./images/Alex_001.jpg);
    background-size: cover;
    border-radius: 50%;
    margin-right: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.introText {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.name {
	font-size: 40px;
	line-height: 50px;
}

.description {
	font-size: 24px;
	line-height: 30px;
}

.portfolioSection {
	min-height: 150vh;
    z-index: 1;
    display: flex;
}

#photoSection {
	background-color: #A0A0A0;
}

.contentWrapper {
    width: 65vw;
}

.photoContent {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    width: 300px;
    height: 200px;
    background-color: #E5E5E8;
    margin: 10px;
}

.sectionDescription {
	background-color: white;
	width: 35vw;
    max-width: 500px;
	height: 70vh;
	position: sticky;
	top: 15vh;
}

.sectionTitle {
	box-sizing: border-box;
	font-size: 40px;
	line-height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;	
	position: relative;
	top: 40px;
}

#pdSection {
	background-color: #E5E5E8;
}

.pdContent {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caseStudy {
    margin: 40px;
}

.caseStudyPhoto {
    width: 600px;
    height: 400px;
    background-color: #6B6B6B;
}

.caseStudyInfo {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
}

.footer {
    opacity: 0;
    position: fixed;
    top: calc(100vh - 165px);
    right: 20px;
	display: flex;
    flex-direction: column;
	justify-content: center;
    transition: opacity 0.8s ease-in;
}

.socialIcons {
	height: 40px;
	width: 40px;
/*	border-radius: 50%;*/
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
/*    background-color: white;*/
/*    box-shadow: 0px 2px 4px rgba(, 0, 0, 0.3);*/
	transition: all 0.2s ease-in;
    mix-blend-mode: exclusion;
}

.dribbble {
    background-image: url(./images/dribbble-ball-mark.svg);
	border-radius: 50%;
}

.medium {
    background-image: url(./images/MediumMonogram.svg);
	border-radius: 50%;
}

.instagram {
    background-image: url(./images/IG_Glyph_Fill.svg);
    border-radius: 50%;
}

.socialIcons:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
	cursor: pointer;
	user-select: none;
}


@keyframes bounce {
    from {transform: translateY(5px);}
    to {transform: translateY(-15px);}
}