html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato-Light', sans-serif;
    color: #3C3C3B;
    font-size: 16px;
    background-color: white;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.maxWidthWrapper {
    width: 100vw;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    margin:  0 auto;
}

#splash {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 40px;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

#header {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.topNavbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in;
  position: fixed;
  z-index: 100;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  background-image: url(./images/starnesLogo.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.menu {
  display: none;
  width: 24px;
  height: 24px;
  margin: 5px;
  cursor: pointer;
  background-image: url(./images/menuIcon.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.pageNavigation {
  display: flex;
}

.pageNavigation:last-child {
    margin-right: 10px;
}

.navOptions {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  user-select: none;
  transition: all 0.2s ease-in;
  
}

.navOptions:hover {
  background-color: #828282;
  color: white;
  cursor: pointer;
}

.hero {
	background-image: url(./images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	width: 100vw;
    height: 100vh;
	position: absolute;
	z-index: -1;
	display:flex;
	align-items: center;
}

.downArrow {
    opacity: 1;
    width: 40px;
    height: 40px;
    background-image: url(./images/arrow_downward-24px.svg);
    background-repeat: no-repeat;
    background-color: #E5E5E8;
    background-position: center center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: calc(100vh - 60px);
    right: calc(50vw - 20px);
    transition: opacity 0.8s ease-in;
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.downArrow:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    animation-play-state: paused;
}

.intro {
	height: 100vh;
	margin: 0 10vw;
}

.bio {
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 14vh;
    margin-bottom: 12vh;
}

.picture {
    width: 300px;
    height: 300px;
    background-image: url(./images/Alex_001.jpg);
    background-size: cover;
    border-radius: 50%;
    margin-right: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.introText {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.nameFun {
    display: flex;
}

.firstName {
    opacity: 0;
    transition: all 1s ease-in;
}

.lastName {
    margin-left: -67px;
    transition: all 0.6s ease-in;
}

.name {
	font-size: 40px;
	line-height: 50px;
}

.description {
	font-size: 24px;
	line-height: 30px;
}

.actionCalls {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.seeWork {
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    background-color: #E5E5E8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
    margin-right: 20px;
	transition: all 0.2s ease-in;
}

.seeWork:hover {
    box-shadow: 0 2px 6px rgba(0,0,0, 0.6);
    cursor: pointer;
    user-select: none;
}

.resume {
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    border-radius: 5px;
	transition: all 0.2s ease-in;
}

.resume:hover {
  background-color: #828282;
  color: white;
  cursor: pointer;
}

.portfolioSection {
    width: 100vw;
    z-index: 1;
    display: flex;
}

#photoSection {
	background-color: #BBBBBB;
}

.sectionDescription {
	background-color: white;
	width: 40vw;
    height: 160px;
    position: -webkit-sticky;
	position: sticky;
	top: calc(50vh - 100px);
    display: flex;
    flex-direction: column;
}

.sectionTitle {
	font-size: 40px;
	line-height: 50px;
    margin: 30px auto 0px;
}

.sectionSubTitle {
    font-size: 20px;
    line-height: 30px;
    margin: 10px auto 30px;  
}

.photoContent {
    width: 60vw;
    max-width: calc(1600px * 0.65);
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    width: 50vw;
    height: calc(50vw * 2/3);
    background-size: contain;
    background-repeat: no-repeat;
    image-orientation: 0deg;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 10px;
}


#pdSection {
	background-color: #E5E5E8;
}

.pdContent {
    width: 60vw;
    max-width: calc(1600px * 0.65);
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.helpMe {

}

.caseStudy {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.caseStudyPhoto {
    width: 600px;
    height: 400px;
    background-color: #6B6B6B;
}

.caseStudyInfo {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
}

.footer {
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    opacity: 0;
    position: fixed;
    top: calc(100vh - 220px);
    right: 5px;
	display: flex;
    flex-direction: column;
	justify-content: center;
    transition: opacity 0.8s ease-in;
}

.socialIcons {
	height: 40px;
	width: 40px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 50%;
	transition: all 0.2s ease-in;
}

.dribbble {
    background-image: url(./images/dribbble-ball-mark.svg);
}

.medium {
    background-image: url(./images/MediumMonogram.svg);
}

.instagram {
    background-image: url(./images/IG_Glyph_Fill.svg);
}

.socialIcons:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
	cursor: pointer;
	user-select: none;
}

@keyframes bounce {
    from {transform: translateY(5px);}
    to {transform: translateY(-15px);}
}


@media only screen and (max-width: 760px){
    
    .navContent {
        width: calc(50vw + 25px);
        flex-direction: row-reverse;
    }
    
    .pageNavigation {
        display: none;
    }
    
    .downArrow {
        top: calc(100vh - 100px);
    }
    
    .bio {
        flex-direction: column;
        align-items: center;
    }
    
    .picture {
        width: 200px;
        height: 200px;
        margin-right: 0;
    }
    
    .introText {
        margin-top: 30px;   
    }
    
    .description {
        margin-top: 10px;
    }
    
    .maxWidthWrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .sectionDescription { 
        position: relative;
        top: 0;
        width: 100%;
        max-width: none;
    }
    
    .photoContent {
        width: unset;
    }
    
    .photo {
        width: 85vw;
        height: calc(85vw * 2/3);
    }
    
    .social {
        display: none;
    }
}

